section.glossario {
    max-width: 80%;
    height: auto;
    margin: 2% auto;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}

section.glossario a {
    width: 8%;
    padding: 1.2em;
    border-radius: 5%;
    font-size: 1.7em;
    color: rgb(240, 248, 255);
    text-decoration: none;
    margin: 2%;
    background: rgb(87, 87, 115);
    background: linear-gradient(90deg, rgba(87, 87, 115, 1) 0%, rgba(129, 129, 181, 1) 50%, rgba(141, 141, 213, 1) 100%);
    box-shadow: 0 4px 7px rgba(27, 27, 27, 0.75);
    background-size: 300% 150%;
    transition: all 0.3s ease-in;
}

section.glossario a:hover {
    background-position: 100% 20%;
    transition: all .3s ease-in-out;
}

.palavra_letra {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2% auto 5%;
    width: 80%;
    flex-flow: row wrap;
}

.palavras-card {
    max-width: 25%;
    max-height:auto;
    padding: 20px 10px;
    background-color: #f5e8da81;
    box-shadow: 0 4px 10px rgba(36, 34, 34, 0.6);
    margin: 20px 10px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    padding: 2%;
}

img {
    max-width: 100%;
    max-height: 16em;
}

@media (max-width: 1000px) {

    .palavra_letra .palavras-card {
        max-width: 40%;
    }

    .palavra_letra {
        width: 90%;
    }

}

@media (max-width: 500px) {

    .palavra_letra .palavras-card {
        max-width: 70%;
    }

    .palavra_letra {
        width: 95%;
    }

}