html{
    height: 100%;
}
body {
    margin-bottom:50px;
    height: 100%;
}
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: #1874cf;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.788);
    font-size: 1.2rem;
    box-sizing: content-box;
}
* {
    margin: 0;
    font-family: sans-serif;
}

a p {
    color: black;
}