 
html{
    height: 100%;
}

body {
    
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(2,0,36);
    background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 100%, rgba(0,212,255,1) 100%);
}

.item {
    margin: 10px;
}

.pai {
    background-color: #000000;
    border-radius: 25px;
    text-align: center;
    width: 250px;
    margin: 20% auto;
    padding: 25px 0px;
}

.item a:link {
    text-decoration: none;
    color:#ffffff;
  }
  
.item a:visited {
    text-decoration: none;
  }
  
.item a:hover {
    color:tomato;
  }